<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aiyiqi.bwf.com.yiqizhuangxiu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ZhuangXiuGongSiActivity"/>
        <activity android:name=".activity.TongChengHuoDongActivity"/>
        <activity android:name=".activity.ZhuangXiuXueTangActivity"/>
        <activity android:name=".activity.ZhuangXiuYuSuanActivity"/>
        <activity android:name=".activity.JianCaiJiaJuActivity"/>
        <activity android:name=".activity.XiaoGuoTuActivity"/>
        <activity android:name=".activity.ZiZhuXiaDanActivity"/>
        <activity android:name=".activity.SheJiLiangFangActivity"/>
        <activity android:name=".activity.NewHouseBuild"/>
        <activity android:name=".activity.OldHouseBuild"/>
    </application>

</manifest>