<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aiyiqi.bwf.com.yiqizhuangxiu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".utlis.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name="com.uuzuche.lib_zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="扫描二维码"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ZhuangXiuGongSiActivity"/>
        <activity android:name=".activity.TongChengHuoDongActivity"/>
        <activity android:name=".activity.ZhuangXiuXueTangActivity"/>
        <activity android:name=".activity.ZhuangXiuYuSuanActivity"/>
        <activity android:name=".activity.JianCaiJiaJuActivity"/>
        <activity android:name=".activity.XiaoGuoTuActivity"/>
        <activity android:name=".activity.ZiZhuXiaDanActivity"/>
        <activity android:name=".activity.SheJiLiangFangActivity"/>
        <activity android:name=".activity.NewHouseBuild"/>
        <activity android:name=".activity.OldHouseBuild"/>
        <activity android:name=".activity.LoginRegisterActivity"/>
        <activity android:name=".activity.ZiZhuXiaDan_Inner_Activity"/>
        <activity android:name=".activity.ArticleDetailsActivity"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.PersonalNewsActivity"/>
        <activity android:name=".activity.speakactivity.ArticleActivity"/>
        <activity android:name=".activity.TieActivity"/>
        <activity android:name=".activity.TongchengWeb_Activity"/>
        <activity android:name=".activity.GongDiZhiBoActivity"/>
        <activity android:name=".activity.TeamTogether"/>
        <activity android:name=".activity.FirstInActivity"/>
        <activity android:name=".activity.MyZxingActivity"/>
    </application>
</manifest>